
<%= form_with model: Comment.new, method: :post, url: comments_path, local: true, scope: :comment do |form| %>
  <h1>Create new Comment</h1>
  <div class="form-group">
    <%= form.label :Comment %>
    <%= form.text_area :text, size:"100x3", class: "form-control" %>
    <%= form.hidden_field :post_id, value: @post.id %>
  </div>
<p>
  <%= form.label :text %><br />
  <%= form.text_area :text, cols: 30, rows:1 %>
</p>
</div>
<div>
<p><%= form.submit "Create Comment", class: 'button_center' %></p>
</div>
<% end %>
