<h1>Selected User Details</h1>
<button type="button" class="button_center"><%= link_to "Post", new_user_post_path( user_id: @user.id), { class: "user-link" } %></button>
<%= render 'partials/users', user: @user %>

<div class="post">
  <h3>Bio</h3>
  <div class="post_show">
    <p><%= @user.bio %></p>
  </div>
</div>

<%@user.recent_posts.each do |post| %>
<a href="/users/<%= @user.id %>/posts/<%= post.id %>">
  <%= render 'partials/posts', post: post %>
  </a>
<%end%>
<div class="btn">
  <%= link_to "See All Posts", user_posts_path(user_id: @user.id), class: 'button_center'%>
</div>
