<div class="container">
  <h1>Posts Detail</h1>
  <div class="posts">
    <div class="post_header">
      <%= image_tag @user.photo, alt: "User Photo", class: "image" %>
    </div>
    <div class="user">
      <h5>Post <%= @post.author_id %> <%= @post.title %> by <%= @user.name %></h5>
      <ul>
        <li class="like-form">
          <%= form_with model: Like, method: :post, url: user_posts_path(@user, @post), local: true, scope: :like do |form| %>
            <%= form.submit "Like", class: "button_center" %>
            <%= form.hidden_field :post_id, value: @post.author_id %>
          <% end %>
        </li>
      </ul>
      <p class='likes'>Comments: <%= @post.comment_counter %> | Likes: <%= @post.like_counter %></p>
    </div>
    <div class="post">
      <p><%= @post.text %></p>
    </div>
  </div>

  <div class="comments">
    <h5>Recent Comments</h5>
    <% @post.comments.order(created_at: :desc).each do |comment| %>
      <%= render partial: "/partials/comment", locals: { comment: comment } %>
    <% end %>
  </div>
</div>
