<h1>Selected post for a user</h1>
<div class="container">
  <div class="posts">
    <div class="post_header">
      <ul>
        <li>
          <h3>
            <%= @post.title %> 
            <span>by <%= @post.author.name %></span>
          </h3>          
        </li>
        <li class="likes">
          <span>Likes: <%= @post.like_counter %></span>,
          <span>Comments: <%= @post.comment_counter %></span>         
        </li>
      </ul>
    </div>
    <a href=""></a>
    </div>
    <div class="comments">
      <p>Comments: <%= @count %></p>
    <ul>
      <% @post.recent_comments.each do |comment| %>
        <li>
          <%= render partial: 'partials/comment', locals: { comment: comment } %>
        </li>
      <% end %>
    </ul>
  </div>
<div class="btn">
<%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |form| %>
  <span><%= form.submit "Like", class: 'button _center' %></span>
<% end %>

<div>
  <%= link_to "Add Comment", new_user_post_comment_path(user_id:
    @post.author.id, post_id: @post.id) class: 'button _center' %>
</div>
</div>